﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="~/Content/app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <ul ng-controller="navbarCtrl as nbCtrl" ng-init="nbCtrl.isTokenPresent()" class="nav nav-tabs" role="tablist">
        <li ng-hide="nbCtrl.auth.isAuth"><a href="#!/home">Home</a></li>
        <li ng-show="nbCtrl.auth.isAuth"><a href="#!/tasks">Tasks</a></li>
        <li><a href="#!/pricing">Pricing</a></li>
        <li><a href="#!/about">About</a></li>
        <li ng-hide="nbCtrl.auth.isAuth" style="float: right;"><a href="#!/login">Log in</a></li>
        <li ng-hide="nbCtrl.auth.isAuth" style="float: right;"><a href="#!/register">Register</a></li>
        <li ng-show="nbCtrl.auth.isAuth" ng-click="nbCtrl.logout()" style="float: right;"><a href="#!/logout">Log out</a></li>
    </ul>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view></div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/home/home.js"></script>
    <script src="~/Scripts/pricing/pricing.js"></script>
    <script src="~/Scripts/About/about.js"></script>
    <script src="~/Scripts/Login/login.js"></script>
    <script src="~/Scripts/Register/register.js"></script>
    <script src="~/Scripts/navbar/navbar.js"></script>
    <script src="~/Scripts/Core/authFactory.js"></script>
    <script src="~/Scripts/tasks/tasks.js"></script>
</body>
</html>
