﻿<form ng-controller="loginCtrl as loginCtrl" role="form" ng-submit="loginCtrl.submit()">
    <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="Enter email" ng-model="loginCtrl.user.username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="loginCtrl.user.password">
    </div>
        <p class="help-block" ng-if="loginCtrl.error">{{ loginCtrl.error }}</p>
        <p class="help-block" ng-if="loginCtrl.welcome">{{ loginCtrl.welcome }}</p>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>