﻿<form ng-controller="registerCtrl as regCtrl" role="form" ng-submit="regCtrl.register()">
    <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="Enter email" ng-model="regCtrl.user.username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="regCtrl.user.password">
    </div>
    <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="password" placeholder="Confirm Password" ng-model="regCtrl.user.confirmPassword">
    </div>
    <p class="help-block" ng-show="regCtrl.registerMessage">{{ regCtrl.registerMessage }}</p>
    <p class="help-block" ng-show="regCtrl.errorMessage">{{ regCtrl.errorMessage }}</p>
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>
