﻿<div class="container">
    <div class="row" ng-controller="tasksCtrl as tasksCtrl" ng-init="tasksCtrl.initFunction()">
        <div class="col-sm-4">
            <table class="table table-hover table-condensed table-striped table-bordered" style="width:100%">
                <tr>
                    <th><h4>To do</h4></th>
                </tr>
                <tr ng-repeat="task in tasksCtrl.tasks | filter: { status : 'toDo' }">
                    <td>
                        <span ng-hide="tasksCtrl.tasksEditMode[task.id]">{{ task.name }}</span>
                        <input ng-show="tasksCtrl.tasksEditMode[task.id]" ng-model="task.name" />
                        <span ng-hide="tasksCtrl.tasksEditMode[task.id] || tasksCtrl.tasksMove[task.id]" style="float: right; cursor: pointer;">
                            <a ng-click="tasksCtrl.edit(task)">Edit</a>
                            <a ng-click="tasksCtrl.move(task)">Move</a>
                            <a ng-click="tasksCtrl.delete(task)">Delete</a>
                        </span>
                        <span ng-show="tasksCtrl.tasksMove[task.id]" style="float: right; cursor: pointer;">
                            Move to: 
                            <a ng-click="tasksCtrl.setStatus(task, 'inProgress')">In progress</a>
                            <a ng-click="tasksCtrl.setStatus(task, 'done')">Done</a>
                            <a ng-click="tasksCtrl.cancel(task)">Cancel</a>
                        </span>
                        <span ng-show="tasksCtrl.tasksEditMode[task.id]" style="float: right; cursor: pointer;">
                            <a ng-click="tasksCtrl.save(task)">Save</a>
                            <a ng-click="tasksCtrl.cancel(task)">Cancel</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-show="tasksCtrl.addingTaskMode=='toDo'">
                            <input ng-model="tasksCtrl.newTask.name"/>
                            <span style="float: right; cursor: pointer;">
                                <a ng-click="tasksCtrl.addTask()">Add</a>
                                <a ng-click="tasksCtrl.cancelAdding()">Cancel</a>
                            </span>
                        </span>
                        <a ng-click="tasksCtrl.addingTaskModeOn('toDo')" ng-hide="tasksCtrl.addingTaskMode=='toDo'" style="cursor: pointer;">Add new task</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-hover table-condensed table-striped table-bordered" style="width:100%">
                <tr>
                    <th><h4>In progress</h4></th>
                </tr>
                <tr ng-repeat="task in tasksCtrl.tasks | filter: { status : 'inProgress' }">
                    <td>
                        <span ng-hide="tasksCtrl.tasksEditMode[task.id]">{{ task.name }}</span>
                        <input ng-show="tasksCtrl.tasksEditMode[task.id]" ng-model="task.name" />
                        <span ng-hide="tasksCtrl.tasksEditMode[task.id] || tasksCtrl.tasksMove[task.id]" style="float: right; cursor: pointer;">
                            <a ng-click="tasksCtrl.edit(task)">Edit</a>
                            <a ng-click="tasksCtrl.move(task)">Move</a>
                            <a ng-click="tasksCtrl.delete(task)">Delete</a>
                        </span>
                        <span ng-show="tasksCtrl.tasksMove[task.id]" style="float: right; cursor: pointer;">
                            Move to:
                            <a ng-click="tasksCtrl.setStatus(task, 'toDo')">To do</a>
                            <a ng-click="tasksCtrl.setStatus(task, 'done')">Done</a>
                            <a ng-click="tasksCtrl.cancel(task)">Cancel</a>
                        </span>
                        <span style="float: right; cursor: pointer;" ng-show="tasksCtrl.tasksEditMode[task.id]">
                            <a ng-click="tasksCtrl.save(task)">Save</a>
                            <a ng-click="tasksCtrl.cancel(task)">Cancel</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-show="tasksCtrl.addingTaskMode=='inProgress'">
                            <input ng-model="tasksCtrl.newTask.name" />
                            <span style="float: right; cursor: pointer;">
                                <a ng-click="tasksCtrl.addTask()">Add</a>
                                <a ng-click="tasksCtrl.cancelAdding()">Cancel</a>
                            </span>
                        </span>
                        <a ng-click="tasksCtrl.addingTaskModeOn('inProgress')" ng-hide="tasksCtrl.addingTaskMode=='inProgress'" style="cursor: pointer;">Add new task</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-hover table-condensed table-striped table-bordered" style="width:100%">
                <tr>
                    <th><h4>Done</h4></th>
                </tr>
                <tr ng-repeat="task in tasksCtrl.tasks | filter: { status : 'done' }">
                    <td>
                        <span ng-hide="tasksCtrl.tasksEditMode[task.id]">{{ task.name }}</span>
                        <input ng-show="tasksCtrl.tasksEditMode[task.id]" ng-model="task.name" />
                        <span ng-hide="tasksCtrl.tasksEditMode[task.id] || tasksCtrl.tasksMove[task.id]" style="float: right; cursor: pointer;">
                            <a ng-click="tasksCtrl.edit(task)">Edit</a>
                            <a ng-click="tasksCtrl.move(task)">Move</a>
                            <a ng-click="tasksCtrl.delete(task)">Delete</a>
                        </span>
                        <span ng-show="tasksCtrl.tasksMove[task.id]" style="float: right; cursor: pointer;">
                            Move to:
                            <a ng-click="tasksCtrl.setStatus(task, 'toDo')">To do</a>
                            <a ng-click="tasksCtrl.setStatus(task, 'inProgress')">In progress</a>
                            <a ng-click="tasksCtrl.cancel(task)">Cancel</a>
                        </span>
                        <span style="float: right; cursor: pointer;" ng-show="tasksCtrl.tasksEditMode[task.id]">
                            <a ng-click="tasksCtrl.save(task)">Save</a>
                            <a ng-click="tasksCtrl.cancel(task)">Cancel</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span ng-show="tasksCtrl.addingTaskMode=='done'">
                            <input ng-model="tasksCtrl.newTask.name" />
                            <span style="float: right; cursor: pointer;">
                                <a ng-click="tasksCtrl.addTask()">Add</a>
                                <a ng-click="tasksCtrl.cancelAdding()">Cancel</a>
                            </span>
                        </span>
                        <a ng-click="tasksCtrl.addingTaskModeOn('done')" ng-hide="tasksCtrl.addingTaskMode=='done'" style="cursor: pointer;">Add new task</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
